In [1]:
import pandas as pd

## Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

   fever  bodyPain  age  runnyNose  diffBreathe  infectionProb
0    104         1   66          1            0              1
1    100         1   77          0            1              1
2    100         1   49          0            0              0
3    104         0   84          0           -1              1
4    102         1   55          0            0              1

In [4]:
df.tail()

      fever  bodyPain  age  runnyNose  diffBreathe  infectionProb
2570    101         0   99          0            0              0
2571    101         0   28          1           -1              1
2572    102         0    8          1            1              1
2573    104         1   35          0            1              0
2574    101         0   72          0            0              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2575 non-null   int64
 1   bodyPain       2575 non-null   int64
 2   age            2575 non-null   int64
 3   runnyNose      2575 non-null   int64
 4   diffBreathe    2575 non-null   int64
 5   infectionProb  2575 non-null   int64
dtypes: int64(6)
memory usage: 120.8 KB

In [6]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreathe,infectionProb
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,102.013204,0.500583,50.958835,0.499806,0.038447,0.491262
std,1.412228,0.500097,28.881410,0.500097,0.808174,0.500021
min,100.000000,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,101.000000,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,102.000000,1.000000,52.000000,0.000000,0.000000,0.000000
75%,103.000000,1.000000,76.000000,1.000000,1.000000,1.000000
max,104.000000,1.000000,100.000000,1.000000,1.000000,1.000000

In [7]:
df['diffBreathe'].value_counts()

 1    892
 0    890
-1    793
Name: diffBreathe, dtype: int64

## Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio) 
    test_indicies = shuffled[:test_set_size]
    train_indicies = shuffled[test_set_size:]
    return data.iloc[train_indicies], data.iloc[test_indicies]

In [10]:
np.random.permutation(7)

array([0, 2, 5, 6, 3, 1, 4])

In [11]:
train, test = data_split(df, 0.2)

In [12]:
train

      fever  bodyPain  age  runnyNose  diffBreathe  infectionProb
1703    103         0   34          0            1              0
1675    101         1   46          0            0              0
1518    104         1   99          0            1              1
361     101         0   89          1            1              1
1544    102         0   46          0            1              1
...     ...       ...  ...        ...          ...            ...
1638    100         1    6          0           -1              1
1095    100         1   41          1            1              0
1130    100         0   99          0           -1              1
1294    104         1   42          1           -1              0
860     100         1   74          0            0              0

[2060 rows x 6 columns]

In [13]:
test

      fever  bodyPain  age  runnyNose  diffBreathe  infectionProb
1644    101         0   28          1            0              1
1189    103         1   42          1            0              0
495     103         1   30          0           -1              0
1656    101         1   90          1           -1              1
651     104         0   60          1            0              0
...     ...       ...  ...        ...          ...            ...
1627    101         0   52          0            1              0
471     102         0   80          0            1              1
700     102         0   55          0           -1              1
25      102         0   86          0           -1              0
755     104         0   14          0            1              1

[515 rows x 6 columns]

In [14]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreathe']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreathe']].to_numpy()

In [15]:
Y_train = train[['infectionProb']].to_numpy().reshape(2060 ,)
Y_test = test[['infectionProb']].to_numpy().reshape(515 ,)

In [16]:
Y_train

array([0, 0, 1, ..., 1, 0, 0], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [23]:
inputFeatures = [102, 1, -22, 1, 1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [24]:
infProb

0.5080184260995189